# Ignore environment variables
.env

# Ignore auth_info directory and its contents
auth_info/

# Ignore node_modules directory
node_modules/

# Ignore birthdays.json file
*birthdays.json

config/

# Ignore .gitignore file
.gitignore
